<h1><a href="/">Puppers & Doggos</a></h1>
<h2><a href="/breeds">Breeds</a></h2>

<form action="/search" method="GET">
    <input type="text" name="search" id="search" placeholder="Search breeds">
    <button type="submit">Search</button>
</form>