<%- include('partials/head') %>
    <div class="gif-container">
        <% for(let result of results) { %>
            <div class="col">
                <img src="<%= result.url %>" class="gif-img" alt="">
            </div>
        <% } %>
    </div>
<%- include('partials/footer') %>