<%- include('partials/head') %>
    <div class="img-container">
        <% for(let result of results) { %>
            <div class="col">
                <img src="<%= result.url %>" class="home-img" alt="<%= result.name %>">
            </div>
        <% } %>
    </div>
<%- include('partials/footer') %>